/* GENERAL STYLING */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
  justify-content: center;
  display: block;
  margin: 0px;
  padding: 0px;
}
/* FONT STYLING */
a:hover {
  color: #808080;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px !important;
}

/* COLOR STYLING */

.color-white {
  color: #ffffff;
}

/* NAVBAR STYLING */
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10%;
  top: 10%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2e3c48;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2e3c48;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  padding: 2.5em;
  font-size: 1.15em;
  width: 100%;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Styling of navbar font */
.menu-item {
  color: #2e3c48;
  text-decoration: none;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

/* JUMBOTRONS */
.jumbotron-blue {
  height: 100vh;
  width: 100vw;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron-white {
  background: #ffffff !important;
  height: auto;
  width: 100vw;
}

/* LOGO */
.logo {
  width: 180px;
  height: 80px;
  display: block;
  margin-right: auto;
}

/* CARD STYLING */

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 100%;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
