/* General styling */
@import url('https://fonts.googleapis.com/css?family=Raleway');

a:hover {
    color: #808080;
}

/* Navbar styling */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFFFFF;
  height: 150px;
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10%;
  top: 10%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2e3c48;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2e3c48;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  padding: 2.5em;
  font-size: 1.15em;
  color: #000000;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Styling of navbar font */
.menu-item {
  color: #2e3c48;
  text-decoration: none;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}
